.container {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 10px;

}

.team-listing {
  display: grid;
  grid-template-columns: repeat(2, 49%);
  gap: 1%;
  margin: 2rem;
}

.actions {
  background-color: #efefef;
  width: fit-content;
  padding: 2rem;
  border-radius: 1rem;
  height: 10rem;
  margin: 2rem;
}

.container-team {
  background-color: #efefef;
  padding: 2rem;
  margin: 1rem;
  border-radius: 2rem;
}
