<div class="container">
  <div class="container-team">
    <div *ngIf="teamSet$ | async; else noTeamPresent" class="team">
      <h1>You have a team</h1>
      <p>Money {{money$.getValue() | currency}}</p>
      <div *ngIf="(pokemons$ | async) as pokemons" class="team-listing">
        <app-pokemon-team-card *ngFor=" let pokemon of pokemons" [pokemon]="pokemon"></app-pokemon-team-card>
      </div>
      <button routerLink="/search">Start the hunt</button>
    </div>
    <ng-template #noTeamPresent>
      <h1>No Team</h1>
      <h2>Go hunt for some pokemon!</h2>
      <button routerLink="/search">Start the hunt</button>
    </ng-template>
  </div>
</div>
