<!-- pokemon-search.component.html -->
<form (ngSubmit)="searchPokemon(pokemonName.value)">
  <label for="pokemonName">Enter Pokemon name:</label>
  <input type="text" id="pokemonName" name="pokemonName" #pokemonName required>
  <button type="submit">Search</button>
</form>

<div *ngIf="pokemon$ | async as pokemon">
  <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
  <button (click)="addPokemon(pokemon)">Capture!</button>
</div>
<div class="pokemon-catching" *ngIf="(catching$ | async)">
  <h3>Catching pokemon</h3>
</div>
<p *ngIf="errorMessage">{{errorMessage}}</p>

