<div class="container">
  <div class="container-title">
    <h1>Welcome!</h1>
    <h2>A Signal take on Pokemon</h2>
  </div>
  <div class="container-text">
    <p>In this application you will be able to play a simple version of Pokemon battles.</p>
    <p>
      This project serves as a way to show the impact of the upcoming Signal reactive primitive within the Angular framework.
      There will be two applications both with the exact same functionalities but different approaches to state
      management and change detection.
      I would like to kindly ask every participant to carefully examine the code of each version and give any form of
      feedback(i'm eager to learn from experienced crafters :D)
      After playing around with the app itself, you can view the code in <a href="https://github.com/JonasVerlindenPXL/PokemonSignals">THIS</a> repository. Follow the README to continue
      your adventure!
    </p>

    <h2>Thank you for your time!</h2>
    <p>You are now viewing the Signals implemented version of the App!</p>

  </div>
  <div class="container-footer">
    <p-button styleClass="p-button-rounded" routerLink="/home">Let's Go!</p-button>
  </div>
</div>
